@charset "UTF-8";
@import "variables";
@import "fonts";
@import "main";
@import "navbar";
@import "buttons";
@import "centerContent";
@import "aboutHeroSection";
@import "heading";
@import "counters";
@import "footer";
@import "aboutOffcanvas";
@import "owl";
@import "responsive";


@include media-breakpoint(basic) {
    .mainInner {
        position: relative;
        &::before{
            content: '';
            height: 100vh;
            width: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            z-index: -1;
            background: radial-gradient(ellipse at left top, #28282E 0%,#000000 70%);
        }
    }
    .conatent {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.4px;
    }
    .aboutHerosection {
        & .innerfluid {
            & .signature {
                & .signatureImg {
                    height: 116px;
                    & img {
                        object-fit: contain;
                    }
                }
            }
            & .aboutUserImg {
                & img {
                    object-fit: cover;
                }
            }
        }
    }
    .ourstudio{
        & .box-container {
            & .box {
                & .inner {
                    & a {
                        position: relative;
                        display: flex;
                        & img{
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover{
                            & img {
                                transform: scale(1.1);
                            }
                            &::before, &::after{
                                width: 50%;
                                
                            }
                        }
                        &::before, &::after{
                            z-index: 2;
                            content: '';
                            background-color: rgba($black , 0.2);
                            height: 100%;
                            position: absolute;
                            top: 0;
                            width: 0px;
                            transition: all 0.3s ease-in-out;
                        }
                        &::before{
                            left: 0;
                        }
                        &::after{
                            right: 0;
                        }

                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .conatent {
        font-size: 14px;
        line-height: 26px;
    }
    .aboutHerosection {
        & .innerfluid {
            & .signature {
                & .signatureImg {
                    height: 100px;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .aboutHerosection {
        & .innerfluid {
            & .signature {
                & .signatureImg {
                    height: 80px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .aboutHerosection {
        & .innerfluid {
            & .signature {
                & .signatureImg {
                    height: 70px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .aboutHerosection {
        & .innerfluid {
            & .signature {
                & .signatureImg {
                    height: 60px;
                }
            }
        }
    }
}