@charset "UTF-8";
@import "responsive";
.ashadeLink {
    position: fixed;
    width: 100vh;
    min-width: 600px;
    display: flex;
    justify-content: flex-start;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translate(0, 0);
    z-index: 15;
    cursor: pointer;
    padding-left: 140px;
    top: 100%;
    &.leftSide {
        left: calc(33.33% - 21px);
        text-align: center;
        padding: 0;
    }
    &.rightSide {
        left: calc(66.66% + 21px);
        text-align: left;
        & .mainlinks {
            & .subcontentHeading {
                transform: translateX(40px);
            }
            & .mainlinkHeading {
                transform: translateX(-20px);
            }
            &:hover{
                & .subcontentHeading {
                    transform: translateX(30px);
                }
                & .mainlinkHeading {
                    transform: translateX(-10px);
                }
            }
        }
    }
    & .mainlinks {
        & span {
            color: rgba($white, 0.4);
            line-height: normal;
            text-transform: uppercase;
            transition: all 0.5s;
        }
        & .subcontentHeading {
            font-size: 14px;
            transform: translateX(-40px);
            margin-bottom: 8px;
        }
        & .mainlinkHeading {
            font-size: 40px;
            transform: translateX(20px);
            letter-spacing: -0.5px;
        }
        &:hover{
            & span {
                color: $white;
            }
            & .subcontentHeading {
                transform: translateX(-30px);
            }
            & .mainlinkHeading {
                transform: translateX(10px);
            }
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        background: rgba($white, 0.15);
        position: absolute;
        left: 0;
        top: 21px;
    }
}
.innerPages{
    & .ashadeLink {
        &.leftSide {
            left: 40px;
        }
        &.rightSide{
            left: calc(100% - 110px);
        }
    }
}


@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {
    .innerPages{
        & .ashadeLink {
            & .mainlinks {
                & .mainlinkHeading {
                    font-size: 45px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .innerPages{
        & .ashadeLink {
            &.leftSide {
                left: 30px;
            }
            &.rightSide{
                left: calc(100% - 90px);
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .ashadeLink {
        & .mainlinks {
            & .subcontentHeading {
                font-size: 12px;
            }
            & .mainlinkHeading {
                font-size: 30px;
            }
        }
    }
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}