@charset "UTF-8";
@import "responsive";
.navheader {
    & .navbar-brand {
        height: 65px;
    }
    & .navbar-toggler {
        gap: 5px;
        & .menulist {
            height: 2px;
            width: 22px;
        }
    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                color: $gray-500;
                font-size: 12px;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                &:hover, &.active{
                    color: $white;
                }
            }
            & .menubtn {
                & .dots {
                    & .inner_dot {
                        height: 4px;
                        width: 4px;
                        background-color: $gray-500;
                        transition: all 0.3s ease-in-out;
                    }
                }
                &:hover{
                    & .inner_dot{
                        background-color: $white;
                    }
                }
            }
            &:hover{
                & .sublink{
                    opacity: 1;
                    visibility: visible;
                }
            }
            & .sublink {
                // background-color: rgba($black, 0.1);
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &.offbody{
        & .offcanvas-header {
            & .offcanvas-title {
                height: 50px;
                & img{
                    object-fit: contain;
                }
            }
            & .closeBtn {
                width: 30px;
            }
        }
        & .navbar-nav {
            & .nav-item {
                & .nav-link {
                    font-size: 20px;
                    &.innerlink {
                        font-size: 14px;
                    }
                }
                & .sublink {
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                    &::before{
                        content: '';
                        height: 100%;
                        left: 0;
                        width: 1px;
                        position: absolute;
                        background-color: rgba($white, 0.15);
                    }
                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}


@include media-breakpoint(basic) {
    .innerPageTopSection{
        padding-top: 120px;
    }
    .maincontant_InnerPage {
        padding: 0px 120px
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .maincontant_InnerPage {
        padding: 0px 100px
    }
}

@include media-breakpoint-down(lg) {
    .innerPageTopSection{
        padding-top: 110px;
    }
    .maincontant_InnerPage {
        padding: 0px 40px 0px 90px
    }
}

@include media-breakpoint-down(md) {
    .maincontant_InnerPage {
        padding: 0px 30px 0px 30px
    }
}

@include media-breakpoint-down(sm) {
    .maincontant_InnerPage {
        padding: 0px 20px 0px 20px
    }
}
