@charset "UTF-8";
@import "responsive";

@include media-breakpoint(basic) {
    .clitTestimonials {
        & .item {
            & .card {
                & .card-body {
                    & .clientContent {
                        font-size: 20px;
                        line-height: 35px;
                    }
                    & .clients {
                        & .clientImg {
                            max-width: 50px;
                            max-height: 50px;
                            & img {
                                object-fit: cover;
                            }
                        }
                        & .clientName {
                            line-height: normal;
                            transform: translateX(-25px);
                            font-size: 20px;
                            & span {
                                font-size: 10px;
                                line-height: 14px;
                                transition: all ease-in-out 0.3s;
                            }
                        }
                    }
                }
            }
        }
        & .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 10px;
            & .owl-dot {
                width: 10px;
                height: 10px;
                background: $white;
                transition: opacity 0.3s, transform 0.3s;
                opacity: 0.25;
                border: none;
                border-radius: 50%;
                padding: 0;
                &.active{
                    opacity: 0.75;
                    transform: scale(1.2);
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
    .clitTestimonials {
        & .item {
            & .card {
                & .card-body {
                    & .clientContent {
                        font-size: 18px;
                        line-height: 32px;
                    }
                    & .clients {
                        & .clientImg {
                        }
                        & .clientName {
                            font-size: 18px;
                            & span {
                            }
                        }
                    }
                }
            }
        }
        & .owl-dots {
            & .owl-dot {
                &.active{
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .clitTestimonials {
        & .item {
            & .card {
                & .card-body {
                    & .clientContent {
                        font-size: 16px;
                        line-height: 30px;
                    }
                    & .clients {
                        & .clientImg {
                        }
                        & .clientName {
                            font-size: 18px;
                            & span {
                            }
                        }
                    }
                }
            }
        }
        & .owl-dots {
            & .owl-dot {
                &.active{
                }
            }
        }
    }
    
}

@include media-breakpoint-down(md) {
    .clitTestimonials {
        & .item {
            & .card {
                & .card-body {
                    & .clientContent {
                        font-size: 14px;
                        line-height: 26px;
                    }
                    & .clients {
                        & .clientImg {
                        }
                        & .clientName {
                            font-size: 16px;
                            & span {
                            }
                        }
                    }
                }
            }
        }
        & .owl-dots {
            & .owl-dot {
                &.active{
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {}